## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
local.properties
cocos2d/cocos/platform/android/java/bin
proj.android/bin
gen/

##CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Makefile
*.cmake
*.app/

##GLFW
glfw_config.h
glfw3.pc
glfw/src/Release/
glfw/src/Debug/

##Visual Studio
.vs/
*.pdb
*.tlog
Debug.win32/
*.vcxproj.user
*.log
*.obj
*.idb
Release.win32/
*.nativecodeanalysis.xml
*.nativecodeanalysis.all.xml
*.lastcodeanalysissucceeded
*.ib_pdb_index
proj.win32/PredictedInputCache_Debug_Win32.dat
libnoise/win32/Release/
libnoise/win32/Debug/
*.FileListAbsolute.txt
